<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gyrus Automation Suite">

	<listeners>

	<listener class-name="com.qa.gyruslearner.listeners.TestListeners"></listener>
	</listeners>
	
	
	<test name="Automation Smoke Testing">	
		<classes>
			<class name="com.qa.gyruslearner.testcases.LoginPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.DashboardPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.MyProfilePageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.IDPPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.MyEnrollmentPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.TrainingTranscriptPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.GapAnalysisPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.MyAssessmentsPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.MyEvaluationsPageTestCase"/>
		</classes>
		
	</test>
	
</suite>