<suite name="Gyrus Automation Suite">
	<listeners>

<listener class-name="com.qa.gyruslearner.listeners.TestListeners"></listener>
</listeners>
	
	
	<test name="Automation Smoke Testing">
		
		<classes>
			<class name="com.qa.gyruslearner.testcases.DashboardPageTestCase"/>
			
		</classes>
		
	</test>
	
</suite>