<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gyrus Automation Suite">

	<listeners>

	<listener class-name="com.qa.gyruslearner.listeners.TestListeners"></listener>
	</listeners>
	
	
	<test name="Automation Smoke Testing">
	<groups>
            <run>
                <include name="regression"/>
            </run>
        </groups>
		
		<classes>
			<class name="com.qa.gyruslearner.testcases.LoginPageTestCase"/>
			<class name="com.qa.gyruslearner.testcases.DashboardPageTestCase"/>
			
		</classes>
		
	</test>
	
</suite>